html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.srOnly { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
    font-size: 62.5%;
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@500;700&display=swap');

// Font Variables

$primaryFont: 'Roboto', sans-serif;
$bodyFont: 'Open Sans', sans-serif;

// Color Variables

$backgroundColor: #E8E8E8; // light blue
$bodyFontColor: #272D2D; // dark green

// GENERAL STYLES

h1,
h2,
h3,
a,
p {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3 {
    font-family: $primaryFont;
    font-size: 8rem;
    text-transform: uppercase;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

body {
    font-family: $bodyFont;
    color: $bodyFontColor;
    background-color: $backgroundColor;

}

p {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: $bodyFontColor;

    h2 {
        transition: 0.2s ease-in;
        &:hover,
        &:focus {
            color: #AD2323;
        }
    }

    .articleContainer {
        transition: all .2s ease-in-out;
        &:hover {
            transform: scale(1.1);

        }
    }
}

img {
    max-width: 100%;
    min-height: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
}

// HEADER STYLES

.siteName {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px double black;
    border-bottom: 5px double black;
    margin-top: 20px;

    svg {
        margin-right: 50px;
        font-size: 20rem;
    }
}

fieldset {
    border: none;
    text-align: center;
    margin: 30px 0;
    button {
        font-size: 4rem;
        border: none;
        color: black;
        background-color: $backgroundColor;
        margin-left: 20px;
    }
    
    input,
    label {
        font-family: $bodyFont;
        font-size: 2rem;
    }

    input {
        width: 40%;
        border: none;
        height: 50px;
        margin-left: 10px;
        padding: 5px;
        border: solid 3px rgba(0,0,0,0);
        border-radius: 15px;

        &:focus {
            border: 3px solid green;
            outline: none;
        }
    }
}

// ARTICLE STYLES

.articleContainer {
    display: flex;
    border: 5px solid green;
    border-radius: 15px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 5px grey;
    div {
        width: 50%;
    }

    .contentBox {
        padding: 10px;
        h2 {
            margin-bottom: 5px;
        }

        h3 {
            margin-bottom: 10px;
        }

        .publishedTime {
            margin-bottom: 5px;
        }

        .articleDescription {
            margin-bottom: 10px;
        }

        .readMore {
            font-weight: 700;
            
        }

        .newsSource {
            font-size: 1rem;
            margin-bottom: 30px;
        }
    }
}

// FOOTER STYLES

footer {
    color: black;
    text-align: center;
    p,
    a {
        font-size: 3rem;
    }
    
    a {
        transition: 0.2s ease-in;
        &:hover,
        &:focus {
            color: #AD2323;
        }
    }
}

// MEDIA QUERIES

@media (max-width: 1305px) {
    h1 {
        font-size: 7rem;
    }

    .siteName {
        svg {
            font-size: 17rem;
        }
    }

    p {
        font-size: 1.4rem;
    }

    .contentBox {
        padding: 10px;

        h2 {
            font-size: 2.7rem;
        }

        h3 {
            font-size: 1.7rem;
        }
    }
}

@media (max-width: 768px) {
    .articleContainer {
        flex-direction: column;
        div {
            width: auto;
        }
    }

    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .siteName {
        svg {
            font-size: 14rem;
        }
    }

    img {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
}

@media (max-width: 570px) {
    .siteName {
        flex-direction: column;
    }
    
    form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        input {
            width: 100%;
            margin: 10px 0;
        }

        svg {
            font-size: 11rem;
        }
    }

    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 1.3rem;
    }
}

@media (max-width: 360px) {
    h1 {
        font-size: 3rem;
    }

    form {
        input {
            font-size: 1.5rem;
        }
    }

    .siteName {
        svg {
            font-size: 8rem;
        }
    }

    button {
        svg {
            font-size: 3rem;
        }
    }

}